:root {
    --naranja-puro: #f1a600;
    --magenta-oscuro: #1f1d2c;
    --midnight-expresss: #242635;
    --gray-90: rgb(229, 229, 229);
    --white: #fff;
    /* --padding: 0 20px;
    --padding2: 0 80px; */
}


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: var(--magenta-oscuro);
    color: var(--white);
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


span {
    display: block;
    color: var(--gray-90);
}

img {
    display: block;
}

input,
textarea {
    text-align: center;
}


/* MOBILE FIRST APARTIR DE 375 PIXELES * 552 PIXELES */


/* barra de navegacion */

body.scroll {
    overflow: hidden;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav__toogle {
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1;
}


.div__img-open {
    width: 2.5rem
}

.nav__menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--midnight-expresss);
    overflow-y: auto;
    line-height: 5rem;
    z-index: 2;
    transition: all 0.4s;
    pointer-events: none;
    padding: 1rem;

}

.ul__button {
    align-self: flex-end;
    width: 2rem;
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none;
}

.ul__img {
    width: 100%;
}

.nav__menu-visible {
    left: 0;
    pointer-events: auto;
}

.menu-opcion {
    font-size: 25px;
    color: var(--naranja-puro);
}

.menu-opcion:hover {
    color: var(--white);
    transition: all 0.3s ease-in;
}



/* header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    row-gap: 1rem;
    padding-bottom: 1.5rem;
}

.header__h1 {
    z-index: 1;
    font-size: 50px;
    font-weight: 600;
}

.header__h3 {
    font-size: 20px;
    font-weight: 400;
    z-index: 1;
}

.header__p,
.header__span {
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}

.header__span {
    display: inherit;
    color: var(--naranja-puro);
}

.header__div {
    z-index: 1;
}

.div-img {
    width: 35px;
    margin: 0 1rem;
}

.div-img:hover {
    fill: var(--white);
    transition: 0.3s ease-in-out;
}

.header__div-img {
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0%;

}

.div__img-profile {
    height: 100%;
    object-fit: contain;

}

.button-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.button-cv {
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--naranja-puro);
    color: var(--white);
    transition: all 0.3s ease;

}

.button-cv:hover {
    background-color: var(--white);
    color: var(--naranja-puro);
    transition: 0.3s ease-in-out;
}

/* Acerca de mi */

.div {
    /* background-color: var(--midnight-expresss); */
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding-bottom: 1.5rem;

}

.div__h2 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 2rem;
}

.div__p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
}

.container__img {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    row-gap: 3rem;
}

.div__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.icono__academlo {
    width: 5rem;
    align-self: center;
}

.div__img-p {
    font-size: 18px;
    font-weight: 600;
}

.div__span {
    font-size: 16px;
    font-weight: 400;
    color: #f1a600;
}


/* Mis habilidades */

.habilidades__section {
    padding-bottom: 1.5rem;
}

.habilidades__container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    row-gap: 1rem;
}

.habilidades__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 2rem 0rem;

}

.habilidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.habilidad__tecnica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .7rem;
    width: 90%;
}

.container__icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.tecnica__icon {
    width: 100%;
    height: 100%;
}

.habilidades__h2 {
    text-align: center;
    padding: 1.5rem;
}

.habilidades__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.habilidades__h3 {
    margin: 1.5rem;
    position: relative;
}

.habilidades__h3::after {
    content: '';
    position: absolute;
    background-color: var(--naranja-puro);
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
}

.tecnica__h3 {
    margin-right: inherit;
}



/* Mis poryectos */


.section__proyectos {
    padding-bottom: 1.5rem;
    text-align: center;
    /* carrusel */
    width: 100%;
    overflow: hidden;

}

.proyectos__title {
    padding: 2rem;
}

.proyectos__container {
    /* div grande */
    width: 500%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: all .5s ease-in-out;
    transform: translateX(0%);
}

.botones__proyectos {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.botones {
    background-color: var(--naranja-puro);
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 1rem;

}

.botones.activo {
    background-color: var(--white);
}

.img__container {
    position: relative;
    width: calc(100% / 5);
    background-color: blue;
    /* height: 50vh; */
    text-align: center;
    overflow: hidden;
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyectos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 4px solid var(--naranja-puro);
}

.hover {
    background-color: #f1a600;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s ease-in-out;
    row-gap: 2rem;

}

.img__container:hover .hover {
    width: 100%;
    /* height: 100%; */
}

.proyectos__text {}

.proyectos__info {}



/* Contacto */
.footer {
    padding-top: 2rem;
    text-align: center;
}


.form {}

.form__container {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form__title {
    margin-bottom: 1.5rem;
}

.form__input {
    padding: .8rem;
    outline: none;
    border: var(--naranja-puro) solid 3px;
    border-radius: .5rem;
}

.form__textarea {
    resize: none;
    padding: 2rem .8rem;
    margin-bottom: .5rem;
}

.form__submit {
    background-color: var(--naranja-puro);
    padding: .5rem 0rem;
    cursor: pointer;
    border-radius: .5rem;
    color: var(--white);
    outline: none;
    border: var(--white) 2px solid;
}

/* Version 500px */

@media screen and (min-width: 500px) {
    body {
        background-color: rebeccapurple;
        padding: 1rem 2.5rem;
    }

    /* navbar */
    .nav__menu {
        padding: 1.5rem 3rem;
    }

    /* header */

    .header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        row-gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .header__div-img {
        height: 9 0%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 0%;

    }

    .div__img-profile {
        height: 100%;
        object-fit: contain;

    }

    /* acercda de mi  */


    .icono__academlo {
        width: 7rem;
        align-self: center;
    }

    /* habilidades */

    .container__icon {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
    }


    /* mis proyectos */

    .img__container {
        height: 65vh;
        margin: 1.5rem;

    }

    .proyectos__img {
        height: 100vh;
    }


    /* Contacto */


    .form__container {
        row-gap: 1.5rem;
    }

    .form__title {
        margin-bottom: 2rem;
    }

    .form__input {
        padding: .8rem;
        outline: none;
        border: var(--naranja-puro) solid 3px;
        border-radius: .5rem;
    }

    .form__textarea {
        resize: none;
        padding: 2rem .8rem;
        margin-bottom: .5rem;
    }

    .form__submit {
        background-color: var(--naranja-puro);
        padding: 1rem 0rem;
        cursor: pointer;
        border-radius: .5rem;
        color: var(--white);

    }

}

@media screen and (min-width: 600px) {
    body {
        background-color: red;
        padding: 1.5rem 3.5rem;
    }


}