:root{
    --naranja-puro:#f1a600;
    --magenta-oscuro: #1f1d2c;
    --midnight-expresss: #242635;
    --gray-90: rgb(229, 229, 229);
    --white: #fff;
    --padding: 0 20px;
    --padding2: 0 80px;
}


*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}
body{
    background-color: var(--magenta-oscuro);
    color: var(--white);
    /* padding: 20px; */
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}


span{
    display: block;
    color: var(--gray-90);
}

/* barra de navegacion */

body.scroll{
    overflow: hidden;
}

.nav{
    width: 100%;
    /* background-color: #f1a600; */
    /* position: fixed; */
    padding: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
}

.nav__toogle{
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none;    
}


.div__img-open{
    width: 30px;
    height: 30px;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: var(--midnight-expresss);
    overflow-y: auto;
    line-height: 80px;
    z-index: 2;
    transition: all 0.4s;
    pointer-events: none;
    
}

.ul__button{
    align-self: flex-end;
    width: 30px;
    margin-top: 20px;
    margin-right: 55px;
    filter: invert(1);
    cursor: pointer;
    background: none;
    border: none; 
}

.ul__img{
    width: 100%;
}

.nav__menu-visible{
    left: 0;
    pointer-events: auto;
}

.menu-opcion{
    font-size: 25px;
    color: var(--naranja-puro);
}

.menu-opcion:hover{
    color: var(--white);
    transition: all 0.3s ease-in;
}



/* header */

.header{
    padding: var(--padding);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
}
.header__h1{
    z-index: 1;
    font-size: 50px;
    font-weight: 600;
}
.header__h3{
    font-size: 20px;
    font-weight: 400;
    z-index: 1;
}

.header__p, .header__span{
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}

.header__span{
    display: inherit;
    color: var(--naranja-puro);
}

.header__div{
    z-index: 1;
}

.div-img{
    width: 35px;
}

.header__div-img{
    position: absolute;
    z-index: 0;
    right: 20px;
    top: 60px;
}

.div__img-profile{
    width: 250px;
}

.button-cv{
    cursor: pointer;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--naranja-puro);
    color: var(--white);
    transition: all 0.3s ease;
}

.button-cv:hover{
    background-color: var(--white);
    color: var(--naranja-puro);
}
/* Acerca de mi */

.div{
    padding: var(--padding);
    background-color: var(--midnight-expresss);
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5rem;
}
.div__h2{
    font-size: 32px;
    font-weight: 600;
}
.div__p{
    font-size: 18px;
    font-weight: 400;
}
.container__img{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.div__img{
    width: 100px;
}
.div__img-p{
    font-size: 18px;
    font-weight: 600;
}
.div__span{
    font-size: 16px;
    font-weight: 400;
}


/* Experiencia */



.div-experiencia{ 
    padding: var(--padding);
    text-align: center;
    display: grid;
    grid-template-areas:
    'ex ex ex ex' 
    'amazon amazonExperiencia año-amazon vector'
    'airbnb airbnbExperiencia año-airbnb vector'
    'google googleExperiencia año-google vector'
    ;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.h2-experiencia{
    grid-area: ex;
    font-size: 32px;
    font-weight: 600;
}
.div__img-amazon{
    grid-area: amazon;

}

.div__experiencia-amazon{
    grid-area: amazonExperiencia;
}

.amazon__experience-años{
    grid-area: año-amazon;
    font-size: 18px;
    font-weight: 600;
}

.div__img-airbnb{
    grid-area: airbnb;
}

.div__experiencia-airbnb{
    grid-area: airbnbExperiencia;
}

.airbnb__experiencia-años{
    grid-area: año-airbnb;
    font-size: 18px;
    font-weight: 600;
}

.div__img-google{
    grid-area: google;
}

.div__experiencia-google{
    grid-area: googleExperiencia;
}

.google__experiencia-años{
    grid-area: año-google;
    font-size: 18px;
    font-weight: 600;
}

.vector{
    grid-area: vector;
}

.div__experiencia-airbnb > p,
.div__experiencia-amazon > p,
.div__experiencia-google > p{
    font-size: 18px;
    font-weight: 600;
}


.div__experiencia-airbnb > span,
.div__experiencia-amazon > span,
.div__experiencia-google > span{
    font-size: 14px;
    font-weight: 400;
}

/* Mis habilidades */

.div-habilidades{
    background-color: var(--midnight-expresss);
    padding: var(--padding);
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    'habilidades habilidades'
    'a a1'
    'b b1'
    'c c1'
    'd d1'
    'e e1'
    ;
    grid-gap: 2rem 0; 
    align-items: center;
}

.div-habilidades > p{
    font-size: 18px;
    font-weight: 600;
}

.div-habilidades > span{
    color: var(--naranja-puro);
    font-weight: 600;
    font-size: 40px;
    justify-self: center;

}

.habilidades-h2{
    text-align: center;
    grid-area: habilidades;
    font-size: 32px;
    font-weight: 600;
}

.span-95{
    grid-area: a;
}

.p-mobile{
    grid-area: a1;
}

.span_95{
    grid-area: b;
}

.p-web{
    grid-area: b1;
}

.span-70{
    grid-area: c;
}

.p-motion{
    grid-area: c1;
}

.span-90{
    grid-area: d;
}

.p-creacion{
    grid-area: d1;
}

.span_90{
    grid-area: e;
}

.p-gestion{
    grid-area: e1;
}

/* Mi portafilio */
.div-portafolio{
    padding: var(--padding);
    padding-top: 50px;
}

.h2-portafolio{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}


.img-portafolio{
    width: 300px;
    border-bottom: none;
    border: 8px var(--naranja-puro) solid;
    border-bottom: none;
    border-top: 16px var(--naranja-puro) solid;
    
}


.p-portafolio{
    font-size: 18px;
    font-weight: 600;
}


.portafolio-div{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-position{
    align-self: flex-end;
}

/* Contacto */
.footer{
    background-color: var(--midnight-expresss);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.footer__h2{
    font-size: 32px;
    font-weight: 600;
}

.footer-div{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

.footer__img{
    width: 100px;
}

.footer__img-position{
    align-self: flex-end;
}


.footer__p{
    font-size: 18px;
    font-weight: 600;
}

.footer__span{
    font-size: 16px;
    font-weight: 400;
}


/* Version DESKTOP */

@media screen and (min-width:775px) {
    /* NAVBAR */
    body{
        overflow-x: hidden;
    }
    .nav{
        justify-content: inherit;
        width: 100%;
        height: auto;
        position: inherit;
        right: inherit;
        padding: 20px;

    }
    
    .nav__toogle{
        filter: invert(1);
        cursor: pointer;
        background: none;
        border: none;    
    }
    
    
    .div__img-open{
        width: 30px;
        height: 30px;
        display: none;
    }
    
    .nav__menu{
        background-color:aqua;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        position: inherit;
        left: inherit;
        top: inherit;
        width: 60%;
        height: auto;
        align-items: inherit;
        background-color: inherit;
        overflow-y: inherit;
        line-height: inherit;
        z-index: 0;
        transition: none;
        text-align: inherit;
        padding:inherit;
        pointer-events: all;
        
    }
    
    .ul__button{
        align-self: flex-end;
        width: 30px;
        margin-top: 20px;
        margin-right: 55px;
        filter: invert(1);
        cursor: pointer;
        background: none;
        border: none; 
        display: none;
    }
    
    .ul__img{
        display: none;
    }
    .nav__menu li{
        margin: 0 1rem;
        text-align: center;
    }
    .menu-opcion{
        padding: inherit;
        font-size: 16px;
        color: var(--white);
    }
    
    .menu-opcion:hover{
        color: var(--naranja-puro);
        transition: all 0.3s ease-in;
    }

/* HEADER */
    
.header{
    padding: var(--padding2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
}
.header__h1{
    z-index: 1;
    font-size: 150px;
    font-weight: 600;
}
.header__h3{
    font-size: 45px;
    font-weight: 600;
    z-index: 1;
}

.header__p, .header__span{
    font-size: 45px;
    font-weight: 400;
    z-index: 1;
}

.header__span{
    display: inherit;
    color: var(--naranja-puro);
}

.header__div{
    width: 300px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}

.div-img{
    width: 45px;
}

.header__div-img{
    padding: var(--padding2);
    position: absolute;
    z-index: 0;
    right: 20px;
    top: 60px;
}

.div__img-profile{
    width: 600px;
}

/* Acerca de mi */

.div{
    padding: var(--padding2);
    background-color: var(--midnight-expresss);
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5rem;
}
.div__h2{
    font-size: 50px;
    font-weight: 600;
}
.div__p{
    font-size: 18px;
    font-weight: 400;
}
.container__img{
    justify-content:space-evenly;
}

.div__img{
    width: 150px;
}

/* EXPERIENCIA */

.div-experiencia{ 
    padding: var(--padding2);
    text-align: center;
    display: grid;
    grid-template-areas:
    'ex ex ex ex'  
    'amazon amazonExperiencia año-amazon vector'
    'airbnb airbnbExperiencia año-airbnb vector'
    'google googleExperiencia año-google vector'
    ;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    row-gap: 30px;
}

.h2-experiencia{
    grid-area: ex;
    font-size: 50px;
    font-weight: 600;
}
.div__img-amazon{
    grid-area: amazon;

}

.div__experiencia-amazon{
    grid-area: amazonExperiencia;
}

.amazon__experience-años{
    grid-area: año-amazon;
    font-size: 18px;
    font-weight: 600;
}

.div__img-airbnb{
    grid-area: airbnb;
}

.div__experiencia-airbnb{
    grid-area: airbnbExperiencia;
}

.airbnb__experiencia-años{
    grid-area: año-airbnb;
    font-size: 18px;
    font-weight: 600;
}

.div__img-google{
    grid-area: google;
}

.div__experiencia-google{
    grid-area: googleExperiencia;
}

.google__experiencia-años{
    grid-area: año-google;
    font-size: 18px;
    font-weight: 600;
}

.vector{
    grid-area: vector;
}

.div__experiencia-airbnb > p,
.div__experiencia-amazon > p,
.div__experiencia-google > p{
    font-size: 18px;
    font-weight: 600;
}


.div__experiencia-airbnb > span,
.div__experiencia-amazon > span,
.div__experiencia-google > span{
    font-size: 16px;
    font-weight: 400;
}

.img-airbnb,
.img-amazon,
.img-google{
    width: 100px;
}

/* Mis habilidades */

.div-habilidades{
    background-color: var(--midnight-expresss);
    background-image: none;
    background-repeat: no-repeat;
    background-position: -50px 100px;
    padding: var(--padding2);
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    'habilidades habilidades'
    'a a1'
    'b b1'
    'c c1'
    'd d1'
    'e e1'
    ;
    grid-gap: 2rem 0; 
    align-items: center;
}

.div-habilidades > p{
    font-size: 18px;
    font-weight: 600;
}

.div-habilidades > span{
    color: var(--naranja-puro);
    font-weight: 600;
    font-size: 40px;
    justify-self: center;

}

.habilidades-h2{
    text-align: center;
    grid-area: habilidades;
    font-size: 50px;
    font-weight: 600;
}

.span-95{
    grid-area: a;
}

.p-mobile{
    grid-area: a1;
}

.span_95{
    grid-area: b;
}

.p-web{
    grid-area: b1;
}

.span-70{
    grid-area: c;
}

.p-motion{
    grid-area: c1;
}

.span-90{
    grid-area: d;
}

.p-creacion{
    grid-area: d1;
}

.span_90{
    grid-area: e;
}

.p-gestion{
    grid-area: e1;
}

/* Mi portafilio */
.div-portafolio{
    padding: var(--padding2);
    padding-top: 50px;
}

.h2-portafolio{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}



.img-portafolio{
    width: 600px;
    border-bottom: none;
    border: 8px var(--naranja-puro) solid;
    border-bottom: none;
    border-top: 16px var(--naranja-puro) solid;
    margin-bottom: 10px;
}



.p-portafolio{
    font-size: 18px;
    font-weight: 600;
}


.portafolio-div{
    padding: var(--padding2);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-position{
    align-self: flex-end;
}



/* Contacto */
.footer{
    background-color: var(--midnight-expresss);
    padding:var(--padding2 );
    padding-bottom: 40px;
    margin-top: 50px;
    text-align: center;
}

.footer__h2{
    font-size: 50px;
    font-weight: 600;
}

.footer-div{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

.footer__img{
    width: 100px;
}

.footer__img-position{
    align-self: flex-end;
}


.footer__p{
    font-size: 18px;
    font-weight: 600;
}

.footer__span{
    font-size: 16px;
    font-weight: 400;
}


}